html {
    min-block-size: 100%;
}

body {
    font-family: serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    font-size: 12pt;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-end: 30px;
}

.header img {
    block-size: 50px;
}

.header h1 {
    font-size: 18pt;
    margin: 0;
    font-weight: normal;
}

.intro {
    margin-block: 10px;
    line-height: 1.3;
}

h2 {
    font-size: 14pt;
    margin-block-start: 30px;
    margin-block-end: 15px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.link-item {
    margin-block-end: 20px;
}

.link-title {
    font-weight: bold;
}

.link-description {
    margin-inline-start: 20px;
    margin-block-start: 5px;
}

hr {
    border: none;
    border-block-start: 1px solid #999999;
    margin-block: 10px;
}

.site-footer {
    padding: 20px;
    font-size: 10pt;
}
